@use "../../utils" as *;
.buttons-actions {
    padding: 7px;
    place-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .multi-button {
      display: inline-flex;
      gap: 1em;
      height: 100%;
      background-color: white;
      border: 1px solid white;
      border-radius: 14px;
      padding: 7px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
        place-items: center;
    }
    #cut {
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color);
        
      }
      
      #cut {
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color);
        
      }
      
      #incident {
        background-color: #27a64b;
        border: 1px solid rgb(39,166,75);
        
      }
      
      #requeriment {
        background-color: #f2b92a;
        border: 1px solid rgb(242,185,42);
        
      }
      
      .button { 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 15px 0 rgba(0, 0, 0, 0.09);
        padding: 10px 17px 10px 17px;          
        color: white;
        border-radius: 7px;
        width: 8.5em;
        height: inherit;
      }
      
      .button span {
        cursor: pointer;
        display: inline-flex;
        position: relative;
        position: relative;
        transition: 0.5s;
        align-items: center;
      }
      
      .button span:after {
        position: absolute;
        opacity: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }
      
      #cut span:after {
        font-family: FontAwesome;
        content: "\f0c4";
      }
      
      #incident span:after {
        font-family: FontAwesome;
        content: "\f70c";
      }
      
      #requeriment span:after {
        font-family: FontAwesome;
        content: "\f46d";
      }
  }
  
  