<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Credenciales de API o conexión a servicios de reporting -->
    <add key="ApiUser" value="USUARIO_API" />
    <add key="ApiPassword" value="CONTRASEÑA_API" />
    <add key="ReportingEndpoint" value="URL_DEL_SERVICIO" />        
  </appSettings>
  <!-- Informacion de la tienda -->
  <info>
	<add key="NombreTienda" value="New York Bistro" />
	<add key="storeID" value="1" />
	<add key="idBrand" value="1" />
  </info>
</configuration>