


$azul:#116688;
$azul-intermedio:#3F8EBA;
$azul-oscuro:#000D55;
$azul-claro:#1469B6;
$azul-neon:#00BBFF;

$background-cards:#d1d1d1;


$new:#0ea2bd;
$oncurse:#0fcc45;
$planning:#0726d6;
$wait:#f2b92a;
$solved: #1a1a1a;
$solved-bg:#abafac;
$closed: #333;