


$azul:#116688;
$azul-intermedio:#3F8EBA;
$azul-oscuro:#000D55;
$azul-claro:#1469B6;
$azul-neon:#00BBFF;

$background-cards:#d1d1d1;
$background-ticketChat:#505D71;

$new:#0ea2bd;
$oncurse:#0fcc45;
$planning:#0726d6;
$wait:#ffac69;
$solved: #f57e7d;
$solved-bg:#abafac;
$closed: #333;