@use "../../utils" as *;

.tabs-container > li {
    display: none;
}
.tabs-container li:first-child {
    display: block;
}

.tabs-container { 
    .tmln.tmln--box.timeline-horinzontal {
        display: none;
        opacity: 0;
        visibility: hidden;                   
    } 
    .tmln {
        --bdc: #505D71;
        --bdc-a: #0ea2bd;
        --bdc-c: #0fcc45;
        --bdc-w: #ffac69;
        --bdc-p: #0726d6;
        --bdc-s: #f57e7d;
        --bdc-cl: #333;
        --bdc-h: hsl(200, 30%, 90%);
        --bgc: hsl(0, 0%, 100%);
        --bdrs: 0.25rem;
        --bdw: 2px;
        --bullet-bdrs: 50%;
        --bullet-sz: 1.2em;
        --bullet-sz-a: 6px;
        --c: hsl(200, 40%, 1%);
        --box-item-bdrs: 0.25rem;
        --box-item-bgc: #ffffff26;
        --box-item-dark-bgc: #fff;
        --box-item-dark-c: hsl(200, 40%, 95%);
        --box-item-lght-bgc: hsl(200, 30%, 90%);
        --gap: 0.8rem;                        
        --trsdu: 0.3s;
        --trstf: ease-out;        
        /* Modifier-specific properties */
        --sl-mbe: 2em;
        --bi-miw: 85%;
        --bi-miw-tablet: 15%;
        margin-top: 3em;
        border-radius: var(--bdrs, 0);
        color: var(--c, currentColor);
        width: var(--w, 100%);
        -webkit-tap-highlight-color: transparent;
        
    }
    h4,h5,h6, span{
        font-family: inherit !important;
    }

    .tmln__header {
        margin-block-start: 0;
        text-align: center;
    }

    .tmln__item {
        color: inherit;
        display: block;
        margin-block-end: var(--mbe, var(--gap));
        padding-inline-start: calc(var(--gap) + var(--bullet-sz));
        position: relative;
        text-decoration: none;
    }

    /* Circle */
    .tmln__item::after {
        border: var(--bdw) solid var(--bdc);
        border-radius: var(--bullet-bdrs);
        box-sizing: border-box;
        content: "";
        block-size: var(--bullet-sz);
        inline-size: var(--bullet-sz);
        inset-block-start: 0;
        inset-inline-start: 0;
        position: absolute;
        transition: all var(--trsdu) var(--trstf);
    }

    /* Line */
    .tmln__item::before {
        background-color: var(--bdc);
        content: "";
        block-size: calc(100% + var(--mbe, var(--gap)) - var(--bullet-sz));
        inline-size: var(--bdw);
        inset-block-start: var(--bullet-sz);
        inset-inline-start: calc((var(--bullet-sz) - var(--bdw)) / 2);
        position: absolute;
    }

    /* Hide last line */
    .tmln:not(.tmln--hr) .tmln__item:last-child::before {
        display: none;
    }

    .tmln__item-headline {
        margin-block: 0;
        word-wrap: break-word;
        color: #fff;
    }

    .tmln__list {
        display: flex;
        flex-direction: column;
        padding: 0;
        color:#fff;
    }

    /* 
    ====================
    Modifiers and States
    ====================
    */

    /* Active Circle */
    .tmln__item--active.bg-new::after {
        --bdc: var(--bdc-a);
        box-shadow: 0 0 0 calc(var(--bullet-sz-a) - var(--bdw)) var(--bgc, #fff),
            0 0 0 var(--bullet-sz-a) var(--bdc-a);
        background-color: var(--bdc-a);
    }
    .tmln__item--active.bg-curse::after {
        --bdc: var(--bdc-c);
        box-shadow: 0 0 0 calc(var(--bullet-sz-a) - var(--bdw)) var(--bgc, #fff),
            0 0 0 var(--bullet-sz-a) var(--bdc-c);
        background-color: var(--bdc-c);
    }
    .tmln__item--active.bg-wait::after {
        --bdc: var(--bdc-w);
        box-shadow: 0 0 0 calc(var(--bullet-sz-a) - var(--bdw)) var(--bgc, #fff),
            0 0 0 var(--bullet-sz-a) var(--bdc-w);
        background-color: var(--bdc-w);
    }
    .tmln__item--active.bg-planning::after {
        --bdc: var(--bdc-p);
        box-shadow: 0 0 0 calc(var(--bullet-sz-a) - var(--bdw)) var(--bgc, #fff),
            0 0 0 var(--bullet-sz-a) var(--bdc-p);
        background-color: var(--bdc-p);
    }
    .tmln__item--active.bg-solved::after {
        --bdc: var(--bdc-s);
        box-shadow: 0 0 0 calc(var(--bullet-sz-a) - var(--bdw)) var(--bgc, #fff),
            0 0 0 var(--bullet-sz-a) var(--bdc-s);
        background-color: var(--bdc-s);
    }
    .tmln__item--active.bg-closed::after {
        --bdc: var(--bdc-cl);
        box-shadow: 0 0 0 calc(var(--bullet-sz-a) - var(--bdw)) var(--bgc, #fff),
            0 0 0 var(--bullet-sz-a) var(--bdc-cl);
        background-color: var(--bdc-cl);
    }


    /* :focus, :focus-within, :focus-visible */
    .tmln__item--active:focus-visible::after,
    .tmln__item--active:focus-within::after {
        box-shadow: 0 0 0 calc(var(--bullet-sz-a) - var(--bdw))
                var(--bdc-h, #fff),
            0 0 0 var(--bullet-sz-a) var(--bdc);
    }

    .tmln__item--active [data-title],
    .tmln__item:focus-visible [data-title] {
        text-shadow: 0.75px 0px 0px currentColor;
    }

    .tmln__item:not(.tmln__item--active):focus-visible::after,
    .tmln__item:not(.tmln__item--active):focus-within::after {
        background-color: var(--bdc-h);
        box-shadow: 0 0 0 calc(var(--bullet-sz-a) - var(--bdw)) var(--bgc, #fff),
            0 0 0 var(--bullet-sz-a) var(--bdc);
    }

    .tmln--box .tmln__item:focus-within {
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
            0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .tmln__item:focus-visible {
        outline: none;
    }

    .tmln__item:focus-visible [data-title],
    .tmln__item:focus-within a {
        outline: 1px dotted currentColor;
        outline-offset: 6px;
    }

    /* Horizontal */
    .tmln--hr .tmln__header {
        margin-inline-start: var(--gap);
    }

    .tmln--hr .tmln__list {
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-block-start: var(
            --bullet-sz-a
        ); /* Add room for box-shadow transition in horizontal mode */
        padding-inline-start: calc(var(--gap) + 1em);
    }

    .tmln--hr .tmln__item {
        align-self: flex-start;
        margin-block-end: 0;
        min-width: var(--miw, 2rem);
        padding-block-start: calc(var(--bullet-sz) + var(--gap));
        padding-inline-end: var(--gap);
        padding-inline-start: 0;
    }

    .tmln--hr .tmln__item::before {
        block-size: var(--bdw);
        inline-size: calc(100% - var(--bullet-sz));
        inset-block-start: calc((var(--bullet-sz) - var(--bdw)) / 2);
        inset-inline-start: calc(0% + var(--bullet-sz));
    }

    /* Item Box */
    .tmln--box .tmln__item {
        background-color: var(--box-item-bgc);
        border-radius: var(--box-item-bdrs);
        margin-block-end: 0;
        margin-inline-start: calc(var(--bullet-sz) + var(--gap));
        padding: var(--gap);
        transition: box-shadow var(--trsdu) var(--trstf);
    }

    .tmln--box .tmln__item [data-title] {
        display: block;
        font-size: x-small;
        text-transform: uppercase;
    }

    .tmln--box:not(.tmln--hr) .tmln__item::after {
        inset-inline-start: calc(0px - var(--bullet-sz) - var(--gap));
    }

    .tmln--box:not(.tmln--hr) .tmln__item::before {
        inset-inline-start: calc(
            0px - var(--gap) - ((var(--bullet-sz) + var(--bdw)) / 2)
        );
    }

    .tmln--box .tmln__item.bg-new {
        background-color: $new;
    }
    .tmln--box .tmln__item.bg-curse {
        background-color: $oncurse;
    }
    .tmln--box .tmln__item.bg-wait {
        background-color: $wait;
    }
    .tmln--box .tmln__item.bg-planning {
        background-color: $planning;
    }
    .tmln--box .tmln__item.bg-solved {
        background-color: $solved;
    }
    .tmln--box .tmln__item.bg-closed {
        background-color: $closed;
    }
    .tmln--box .tmln__list {
        gap: var(--gap);        
    }

    /* Item Box AND Horizontal */
    .tmln--box.tmln--hr .tmln__item {
        --miw: var(--bi-miw);
        margin-block-end: 0;
        margin-block-start: calc(var(--bullet-sz) + var(--gap));
        margin-inline-start: 0;
    }

    .tmln--box.tmln--hr .tmln__item::after {
        inset-block-start: calc(0px - var(--bullet-sz) - var(--gap));
    }
    .tmln--box.tmln--hr .tmln__item::before {
        inset-block-start: calc(
            0px - var(--gap) - ((var(--bullet-sz) + var(--bdw)) / 2)
        );
        inline-size: calc(100% - var(--bullet-sz) + var(--gap));
    }

    /* Single Line, center text to bullet */
    .tmln--sl .tmln__item {
        --mbe: var(--sl-mbe, var(--gap));
        line-height: var(--bullet-sz);
    }

    /* Media Queries */

    /* :hover */
    @media (hover: hover) {
        .tmln__item--active:hover::after {
            box-shadow: 0 0 0 calc(var(--bullet-sz-a) - var(--bdw))
                    var(--bdc-h, #fff),
                0 0 0 var(--bullet-sz-a) var(--bdc);
        }
        .tmln__item:hover [data-title] {
            text-shadow: 0.75px 0px 0px currentColor;
        }
        .tmln__item:not(.tmln__item--active):hover::after {
            background-color: var(--bdc-h);
            box-shadow: 0 0 0 calc(var(--bullet-sz-a) - var(--bdw))
                    var(--bgc, #fff),
                0 0 0 var(--bullet-sz-a) var(--bdc);
        }
        .tmln--box .tmln__item:hover {
            box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
                0px 2px 4px -1px rgba(0, 0, 0, 0.06);
        }
    }

    @media (min-width: 768px) {
        .tmln--box.tmln--hr .tmln__item {
            --miw: var(--bi-miw-tablet);
        }
    }

    .sla-indicator{
        .bg-hight {
            background-color: $hight;
        }
        .bg-medium {
            background-color: $medium;
        }
        .bg-low {
            background-color: $low;
        }
        .bg-max{
            background-color: $max;
        }
    }
}
